/* Structure */

html, body {
    background-color:#fff;
}

/* Big boy container */
.wrapper {
	margin-right: auto; 
	margin-left:  auto; 
	max-width: 960px; 
	padding: 2.5% 5%;
}

/* Logo and navigation */
.header {
	width: 100%;
	margin: 0 auto;
	background-color: lightsalmon;
}
	#logo {
		width: 50%;
		margin: 0;
		margin-top: 2.5%;
		border: 2px solid red;
		float: left;
	}
	#logo img {
		width: 100%;
	}

	#contact {
		list-style:none;
		margin: 0;
	}
	#contact li {
		display:inline;
	}
	#contact a {
		display:inline-block;
	}
	#contact img {
		height: 48px;
	}

/* Display section */
	#display {
		max-width: 50%;
		margin: auto;
		background-color: lawngreen;
	}
	#display img {
		width: 100%;
	}

/* Main content */
	.main {
		background-color: khaki;
	}

/* tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.wrapper {
		max-width: 100%; 
	}

	.dance {
		max-width: 50%;
		margin: auto;
	}
	
	.dance img {
		width: 100%;
	}

	.logo {
		width: 90%;
		margin: auto;
		margin-top: 2.5%;
		float: none;
	}
	
	.logo img {
		width: 100%;
	}
	
	.contact li {
		display:inline;
		float: none;
		display: initial;
	}
	
	.contact a {
		display:inline-block;
	}
	
	.contact img {
		height: 48px;
	}
}


/* phone */
@media only screen and (max-width: 600px) {
	.wrapper {
		max-width: 100%; 
	}

	.dance {
		max-width: 75%;
		margin-top: 2.5%
	}

	.contact img {
		height: 32px;
	}

	.logo {
		width: 100%;
		margin-bottom: 5%;
		margin-top: 7.5%;
	}

}