/* Structure */

html, body {
	background-color:#fff;
}

.container {
		grid-template-columns: [edgeL] 5% [gutterL] 10% [mid] auto [gutterR] 10% [edgeR] 5%;
		grid-template-rows: [roof] 2.5% [house] auto [floor] 2.5%;
}

.wrapper {
	margin-right: auto; 
	margin-left:  auto; 
	max-width: 960px; 
	padding-right: 10px; 
	padding-left:  10px;
	grid-column: main;
}

	.logo {
		max-width: 80%;
		margin: auto;
	}

	.logo img {
		width: 100%;
		margin-top: 2.5%;
	}

	.contact {
		list-style:none;
		margin:0;
		padding:0;
		text-align:center;
	}

	.contact li {
		display:inline;
	}

	.contact img {
		height: 56px;
	}

	#imgInsta {
		margin-right: 40px;
	}

.dance {
	max-width: 50%;
	margin: auto;
}

.dance img {
	width: 100%;
}

.content {
	width: 100%;
	background-color: green;
	grid-column: main;
}

/* tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.logo {
		max-width: 90%;
	}

	.logo img {
		margin-top: 5%;
	}
	
	#imgInsta {
		margin-right: 32px;
	}

	.contact img {
		height: 48px;
	}
	
	.dance {
		max-width: 70%;
	}
}

/* phone*/
@media only screen 
and (max-width: 600px) {
	.logo {
		max-width: 100%;
	}

	.logo img {
		margin-top: 7.5%;
		margin-bottom: 5%;
	}
	
	#imgInsta {
		margin-right: 24px;
	}

	.contact img {
		height: 40px;
	}

	.dance {
		max-width: 75%;
		margin-top: 2.5%
	}
}

/* Fonts */
p {
	font-family: Questrial, sans-serif;
	font-size: 24px;
	color: black;
}

/* 
Colours
Teal = #80f6d5
Pink = f5c1eb
Yellow = fde114
Blue = bcf0f7
*/
